region = "ap-northeast-1"
product = "sample"
profile = "sample"
db_storage = "64"
db_name = "sample_db"
db_user = "sample_user"
db_pass = "sample_pass"
front_cpu = "1024"
front_memory = "2048"
api_cpu = "1024"
api_memory = "2048"
