##############################
# Terraform backend settings
##############################

terraform {
  required_version = ">= 0.11.0"

  backend "s3" {
    region  = "${TODO: write region}"
    profile = "${TODO: write profile}"
    bucket  = "${TODO: write bucket name}"
    key     = "${TODO: write key}"
  }
}
